@import './base.css';

#app {
  isolation: isolate;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  --container-margin: 2.5rem;
  --container-breakpoint: var(--bp-extra-large);

  width: calc(min(100%, var(--container-breakpoint)) - var(--container-margin));
  margin-inline: auto;
}

.no-list {
  list-style: none;
  padding: 0;
}
