@import './base.css';

#app {
  isolation: isolate;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-image: linear-gradient(225deg, var(--primary-color) 50%, var(--secondary-color) 50%);
  border: 0.25rem solid var(--bg-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  --container-margin: 2.5rem;
  --container-breakpoint: var(--bp-extra-large);

  width: calc(min(100%, var(--container-breakpoint)) - var(--container-margin));
  margin-inline: auto;
}

.no-list {
  list-style: none;
  padding: 0;
}
